<!DOCTYPE html>
  <html lang="en" data-ng-app="todos">
  <head>
     <meta charset="UTF-8">
     <title>Angular ToDo App</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
     <script src="app.js"></script>
  </head>
  <body data-ng-controller="todosCtrl as vm">
    <h1>To Do!</h1>
    <form class="newTodo" data-ng-submit="vm.addTodo()">
      <input type='text' placeholder="Add another item..." data-ng-model="vm.newTodo.title">
      <button>➕</button>
    </form>
    <ul class="todosList">
      <li data-ng-repeat="todo in vm.todos">
        <span data-ng-hide="todo.showEditForm">{{todo.title}}</span>
        <button data-ng-hide="todo.showEditForm" data-ng-click="todo.showEditForm = !todo.showEditForm">✎</button>
        <input type="text" data-ng-model="todo.title" data-ng-show="todo.showEditForm">
        <input type="checkbox" data-ng-model="todo.completed" data-ng-show="todo.showEditForm">
        <button data-ng-show="todo.showEditForm" data-ng-click="vm.updateTodo(todo)">Update</button>
        <button data-ng-click="vm.removeTodo($index)">✗</button>
      </li>
    </ul>
  </body>
</html>
